.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    padding-top: 20px;
    overflow: auto;
    z-index: 10;
    background-color: #10375c;
}

.sidebar__user {
    margin-bottom: 50px;
}

.sidebar__user-name {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}

.sidebar__user-des {
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
    margin: 14px 0;
}

.sidebar__menu {

}

.sidebar__menu-list {
    padding: 0px 15px;
}

.sidebar__menu-list li {
    list-style: none;
    margin-bottom: 10px;
}


.sidebar__menu-item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 25px;
    color: #fff;
    transition: background-color 0.25s, color 0.25s, border-radius 0.25s; /* Áp dụng transition cho các thuộc tính */
}

.sidebar__menu-item:hover {
    background-color: #c6defd;
    color: #10375c;
    border-radius: 5px;
}

.action {
    background-color: #c6defd;
    color: #10375c;
    border-radius: 5px;
}